<footer>
    <div class="container">
        <div class="footer-links">
            <a href="{{ include.root }}index.html">Home</a>
            <a href="{% if include.root == "" %}pages/{% endif %}conference.html">Conference</a>
            <a href="{% if include.root == "" %}pages/{% endif %}expo.html">Expo</a>
            <a href="{% if include.root == "" %}pages/{% endif %}fringe.html">Fringe Events</a>
            <a href="{% if include.root == "" %}pages/{% endif %}event.html">Event</a>
            <a href="{% if include.root == "" %}pages/{% endif %}vip.html">VIP</a>
            <a href="{% if include.root == "" %}pages/{% endif %}media.html">Media</a>
            <a href="{% if include.root == "" %}pages/{% endif %}gallery.html">Gallery</a>
            <a href="{% if include.root == "" %}pages/{% endif %}about.html">About</a>
        </div>
        <p><strong>London Tech Week 2026 - Fact-Finding Report</strong><br>
        All content, images and video are my own work, unless an external source is cited.<br>
            No reproduction or use without permission.<br>
            &copy; Richard Kenyon 2026. All rights reserved.</p>
    </div>
</footer>
